<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <form>
        <label for="username">Username</label>
        <input type="text" id="username">
        <br><br>
        <label for="securityQtn">Security Question</label>
        <select id="securityQtn">
            <option value="">Select Security Question</option>
            <option value="movie">What is your favourite movie?</option>
            <option value="pet">What is your first pet?</option>
        </select>
        <br><br>
        <label for="securityAns">Answer</label>
        <input type="text" id="securityAns">
        <br><br>
        <label for="pw1">New Password</label>
        <input type="password" id="pw1">
        <br><br>
        <label for="pw2">Confirm New Password</label>
        <input type="password" id="pw2">
        <br><br>
        <button id="changePasswordBtn">Submit</button>
    </form>
    <a href="./home.html" style="display: none;" id="backToHomePage"></a>
    <script src="../js/ChangePassword.js"></script>
</body>
</html>