<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Information Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <h3>User Account Information Details</h3>
    <form>
          <div class="row mb-3">
            <label for="accountnumber" class="col-sm-3 col-form-label">Account Number</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="accountnumber" disabled>
            </div>
          </div>
          <div class="row mb-3" style="margin-top: 10px;">
            <label for="balance" class="col-sm-3 col-form-label">Balance</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="balance" disabled>
            </div>
          </div>
          <div class="row mb-3" style="margin-top: 10px;">
            <label for="type" class="col-sm-3 col-form-label">Account Type</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="type" disabled>
            </div>
          </div>
        <div style="margin-top: 1em;" id="divTransactions" style="font-size: 1em">
            <table class="table table-striped" id="myTable">
                <thead>
                    <tr>
                        <th scope="col">Transaction ID</th>
                        <th scope="col">Transaction Date</th>
                        <th scope="col">From Account</th>
                        <th scope="col">To Account</th>
                        <th scope="col">Transaction Type</th>
                        <th scope="col">Balance</th>
                    </tr>
                </thead>
                <tbody id="tbodyTransactionsList">

                </tbody>
            </table>
        </div>
        <div class="col-12">
          <button type="button" class="btn btn-primary" id="btnUpdate" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Update</button>
          <button type="button" class="btn btn-primary" id="btnWithdraw" data-bs-toggle="modal" data-bs-target="#withdrawDialog" data-bs-whatever="@mdo">Withdraw</button>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Update Contact Details</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <label for="email" class="col-form-label">Email</label>
                      <input type="email" class="form-control" id="email">
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="col-form-label">Phone</label>
                        <input type="text" class="form-control" id="phone">
                      </div>
                    <div class="mb-3">
                        <label for="inputAddress" class="form-label">Street</label>
                        <input type="text" class="form-control" id="inputAddress" name="address">
                    </div>
                    <div class="mb-3">
                        <label for="inputCity" class="form-label">City</label>
                        <input type="text" class="form-control" id="inputCity" name="address">
                    </div>
                    <div class="mb-3">
                        <label for="inputPostalCode" class="form-label">Postal Code</label>
                        <input type="text" class="form-control" id="inputPostalCode" name="address">
                    </div>
                    <div class="mb-3">
                        <label for="inputState" class="form-label">State</label>
                        <input type="text" class="form-control" id="inputState" name="address">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" id="close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="btnSave">Save</button>
                </div>
              </div>
            </div>
          </div>
          <!--withdraw dialog-->
          <div class="modal fade" id="withdrawDialog" tabindex="-1" aria-labelledby="withdrawModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="withdrawModalLabel">Withdraw</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <label for="amount" class="col-form-label">Amount</label>
                      <input type="amount" class="form-control" id="amount">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" id="close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="btnWithdrawSave">Save</button>
                </div>
              </div>
            </div>
          </div>
      </form>
    <a href="./transfer.html">Transfer</a>
    <script src="../js/AccountDetails.js"></script>
</body>
</html>